
<body >

<section class="center-vertical">
 <h1>個人投稿</h1>
<% @chats.each do |t| %>
<div class="post center-vertical">
<h1><%= t.chattitle %></h1>
<figure>
<% unless t.img3.empty? %>
<p><img src="<%= t.img3 %>"></p>
<% end %>
</figure>

 <p><%= t.chatcoment %></p>

 </div>
 <% end %>
</section>


</body>