
<body >

<% @chats.each do |t| %>
<div class="post center-vertical">
<% unless content.img.empty? %>
<p><img src="<%= t.img3 %>"></p>
<% end %>
 <p><%= t.chattitle %></pp>
 <p><%= t.chatcoment %></p>
 <span>
  <form action="/chatdelete/<%= t.id %>" method="post">
   <input type="submit" value="削除">
  </form>
 </span>
 </div>
 <% end %>



</body>