
<body >

<section class="center-vertical">
<% @chats.each do |t| %>
<div class="post center-vertical">
<h1><%= t.chattitle %></h1>
<figure>
<% unless t.img3.empty? %>
<p><img src="<%= t.img3 %>"></p>
<% end %>
</figure>

 <p><%= t.chatcoment %></p>
 <span>
  <form action="/chatdelete/<%= t.id %>" method="post">
   <input type="submit" value="削除">
  </form>
 </span>
 </div>
 <% end %>
</section>


</body>