<body>
  <main>
      <section class="center-vartical">
<div style="position: relative;">
<img src="/assets/img/top3.jpg" alt="topimg" width= "1425" height= "1000">
<div style="position:absolute; top:100px; left:30px; width: 430px;" class="a">
      <a href="/">トップ</a></a>
      <div class="container">
      <form class ="col-lg-5" action="/signup" method="post" enctype="multipart/form-data">
      <div class="controls">
        <div class="form-group">
        <input class="form-control input-lg" type="text" name="name" placeholder="ユーザー名"><br>
        <input class="form-control input-lg" type="text" name="password" placeholder="パスワード"><br>
        <input class="form-control input-lg"type="text" name="password_confimation" placeholder="パスワード確認"><br>
        <input type="file" name="img"><br>
        </div>
        <div class="gorm-group col-lg-4">
          <input  class="form-control col-lg-4" type="submit" value="新規登録"><br>
        </div>
      </div>
      </form>
</div>
</div>
      </section>
  </main>
</body>