<body>
  <main>
      <section class="center-vartical">
      <a href="/">トップ</a></a>
      <div class="container">
      <form class ="col-lg-5" action="/signup" method="post" enctype="multipart/form-data">
      <div class="controls">
        <div class="form-group">
        <input class="form-control input-lg" type="text" name="name" placeholder="ユーザー名"><br>
        <input class="form-control input-lg" type="text" name="password" placeholder="パスワード"><br>
        <input class="form-control input-lg"type="text" name="password_confimation" placeholder="パスワード確認"><br>
        <input type="file" name="img"><br>
        </div>
        <div class="gorm-group col-lg-4">
          <input  class="form-control col-lg-4" type="submit" value="新規登録"><br>
        </div>
      </div>
      </form>
      </section>
  </main>
</body>