* {
  margin: 0;
  padding: 0;
}

footer{
background-color: #6ac4eb;
padding: 25px 20px;
}


.sub {
  width: 15%;
}


.aside{
  background-color: #ffffff;
  padding: 20px;
}

.article{
  width: 68%;
  box-sizing: border-box;
}


.contents1{
  background-color:#29abe2;
  padding: 40px 15px;
}

.container1{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}



#index {
  background-image: url("/assets/img/camp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#index h1 {
  font-size: 100px;
  line-height:  1;
  color: #ffffff;
  font-family: 'Bitter' , serif;

}
#index.content {
  margin-top: 200px;
}

#index p {
  font-size: 20px;
  color: #ffffff;

}


/*投稿ボックス
#menu{
  clear: both;
  background-color: #ffffff00;
  margin-top: 0px;
  opacity: 1.0;
  font-size: 20px;

}

*/

#wrap{
  clear: both;
  background-color: #F5DEB3;
  margin-top: 1px;
  opacity: 1.0;
}


.left{
  padding-right: 30px;
  text-align: left;
}

.pagetop {
	color: rgb(32, 29, 29);
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}



.link_button {
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: rgb(247, 167, 48);/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';/*フォントをいい感じに*/
}

/*以下カーソルを当てたとき*/
.link_button:hover {
  background: orangered;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
}

/*以下訪問済みのデザイン*/
.link_button:visited {
  color: white;/*文字をグレイに*/
}

.post {
  margin: 10px;
  padding: 30px;
  width: 450px;
  border-radius: 5px;
  word-break: break-all;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.center-hrizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.siteHeader {
  background:  url(/assets/img/image12.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;

}

.siteHeader a {
  color: #fff;
}
.siteHeader .headerBg {
  background: rgba(86, 96, 233, 0.288);
}
.siteHeader .headerMenu {
  padding: 10px 20px 0 0;
}

.siteHeader .headerMenu ul li {
  float: right;
  display: block;
  margin-left: 10px;
}
.siteHeader .headerMenu ul li a {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  display: block;
  padding: 6px 24px 6px 26px;
  border: 1px solid #fff;
  background: rgba(86, 96, 233, 0.288);
}

.siteHeader .headerMenu ul li a:hover {
  color: #fff;
  background: rgba(216, 231, 9, 0.589);
}
.siteHeader .siteTitle {
  width: 300px;
  padding: 10px 0 30px;
  margin: 0 auto;
}

.siteHeader .siteTitle .topLogo {
  height: 53px;
}
.siteHeader .siteTitle img {
  width: 100%;
  height: auto;
}
.siteHeader .top {
  position: relative;
  z-index: 2;
  height: 345px;
}
.siteHeader .top .siteTitle {
  width: 420px;
  padding: 30px 0 40px;
  margin: 0 auto;
}
.siteHeader .top .siteTitle .topLogo {
  height: 180px;
}
.siteHeader .top .siteTitle img {
  width: 100%;
  height: auto;
}

.siteHeader .mainMenu ul {
  margin: 0 auto;
  text-align: center;
}
.siteHeader .mainMenu ul li {
  padding: 0 30px 10px;
  list-style: none;
  display: inline-block;
}

.siteHeader .mainMenu ul li a {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 10px;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  display: block;
  padding: 10px 5px;
  font-weight: bold;
}
.siteHeader .mainMenu ul li a:hover {
  color: #f4f576;
}
.siteHeader .headerButton {
  display: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
}
.siteHeader .headerButton a, .siteHeader .headerButton span {
  display: block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 0;
  position: absolute;
}




/* homeのレイアウト */
.contents {
  max-width: 800px;
  margin: auto;
  padding: 0;
}

.grid {
  margin: 0;
  padding: 0;
	display: -webkit-flex;
  display: flex;
  list-style: none;
}

.grid-cell {
  margin: 5px;
  padding: 0px;
  border-radius: 5px;
  line-height: 1;
  /*color: #fff;
  background: #007bbb;*/
}

.flexible {
  flex: 1;
}

.fixed {
  width: 200px;
}

.grid-cell p {
  display: block;
  margin: 0;
  padding: 20px;
  /*color: #fff;*/
  text-decoration: none;
}



/* サブメニュー */
.home ul, ol {
  padding: 0;
  position: relative;
}

.home ul li, ol li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

/* 削除画面 中央寄せ*/
.coment1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
/* グラフ中央寄せ*/
.coment2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 400px;
}

/* トップページ */


.GYI{
  color: #ffffff;
  background-size: cover;
  background-position:center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.GYI h1 {
  font-size: 86px;
  font-family: 'Exo 2' , sans-serif;
  text-shadow: 0 0 10px #444444;
  text-align: center;
}
.GYI p {
  font-weight: bold;
  text-shadow: 0 0 10px #444444;
}